body {
  background: #eee;
  font-family: sans-serif;
  box-sizing: border-box;
}

.card {
  width: 400px;
  background: #fff;
  margin: 50px auto;
  width: 1750px;
  height: 600px;
  padding-top: 25px;
  padding-bottom: 10px;
}

.title {
  background: #e3f4ff;
  font-size: 50px;
  margin: 25px 10px;
  padding: 25px;
}

.content {
  background: #e3f4ff;
  font-size: 50px;
  margin: 25px 10px;
  display: block;
  padding: 25px 0px 25px 25px;
}

.button-container {
  background: #e3f4ff;
  margin: 25px 10px;
  text-align: center;
  padding: 25px;
  font-size: 50px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 25px 50px;
  margin: 10px auto;
  font-size: 50px;
}